<p-card class="dashboard-container">
  <h2>Welcome, {{ username }}!</h2>
  <h1>Employee Dashboard</h1>

  <app-highest-salary [highestSalary]="highestSalary"></app-highest-salary>
  <p-table [value]="employees">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th pSortableColumn="salary">
          Salary
          <p-sortIcon field="salary"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-emp>
      <tr>
        <td>{{ emp.name }}</td>
        <td>{{ emp.salary }}</td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-text" (click)="editEmployee(emp)">Edit</button>
          <button pButton icon="pi pi-trash" class="p-button-danger p-button-text" (click)="deleteEmployee(emp.id)">Delete</button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div *ngIf="selectedEmployee" class="edit-form">
    <h2>Edit Employee</h2>
    <label>Name:</label>
    <input pInputText style="width: 300px;" type="text" [(ngModel)]="selectedEmployee.name" />

    <label>Salary:</label>
    <input pInputText style="width: 300px;" type="number" [(ngModel)]="selectedEmployee.salary" />
    <br>
    <button pButton class="savebtn" (click)="saveEdit()">Save</button>
  </div>
</p-card>
